<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="http://localhost:8080/product" method="post">
    <label>ID sản phẩm :</label>
    <input type="number" name="id">
    <label>Tên sản phẩm:</label>
    <input type="text" name="nameProduct">
    <label>Giá sản phẩm:</label>
    <input type="number" step="0.1" name="price">
    <label>Số lượng sản phẩm:</label>
    <input type="number"  name="quantity">
    <button>Sua sản phẩm</button>
</form>
</body>
</html>